.main {
    margin: 70px 0 60px;
    color: white;

    h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
    }

    .sort {
        margin: 50px 0 70px 80px;
        display: flex;
        gap: 35px;

        &Button {
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            color: white;
            text-transform: capitalize;
        }
    }

    .settings {
        display: flex;
        margin-left: 20px;

        &Btn {
            
        }
    }
}